.profile {
  text-align: center;
}

.container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.friends {
  background-color: rgb(255, 255, 255);
}

.transactions {
  background-color: rgb(255, 255, 255);
}
